<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Quizzler</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
      <h2>Upload your text and get quiz questions with AI (Powered by GroqCloud.)</h2>
      <form class="col" style="display: flex; gap: 0.4rem;" action="/generating" method="post">
        <label class="row" for="quantity">
          <input type="number" id="quantity" name="quantity" value="5" min="5" max="30">
          <span style="margin-left: 0.2rem;">items</span>
        </label>
        <div class="row" style="gap: 0.3rem">
          <textarea onkeyup="countChars(this);" minlength="3000" maxlength="50000" rows="5" cols="50" name="usrinput" placeholder="Enter text here..."></textarea>
          <input type="submit" value="Generate">
        </div>
        <span id="char-counter" style="color: grey; font-size: 0.8rem;"></span>
      </form>
      <script>
        function countChars(self) {
          let characters = self.value ? self.value.length : 0;
          const textbox = document.getElementsByName("usrinput")[0];
          const max = textbox.maxLength;
          const min = textbox.minLength;
          const charCounter = document.getElementById("char-counter");
          charCounter.innerHTML = `Characters: ${characters}/${max.toLocaleString()}`;
          if (characters > max || characters < min) {
            charCounter.style.color = "red";
          } else {
            charCounter.style.color = "grey";
          }
        }
      </script>
    </body>
</html>